@import "../../globals.scss";

.livePreviewContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.panel {
    padding: 15px;
    background-color: #383b47;
    border-radius: 8px;
}

.disabledWarning {
    text-align: left;
    color: #ffc107;
    background-color: #383b47;
    border: 1px solid #ffc107;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
}

.submitButton {
    background-color: $primary-color;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    color: white;
}

// ====== RESPONSIVE ======
@media (max-width: 768px) {
    .panel {
        padding: 10px;
    }

    .submitButton {
        padding: 8px;
    }

    .disabledWarning {
        padding: 10px;
    }
}
